body {
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

#hero {
    background-color: #374151;
    color: #fff;
    padding: 4rem;
    text-align: start;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #F9FAFB;
    margin-bottom: 1rem;
}

#green-text {
    color: #10B981;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #F9FAFB;
    font-family: "Inter", sans-serif;
    margin-bottom: 5rem;
}

#generate-password {
    background-color: #10B981;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 16px;
    cursor: pointer;
    font-family: "inter", sans-serif;
    border: none;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2rem;
}

#divise-line {
    color: #2F3E53;
    width: 100%;
    height: 5px;
    background-color: #2F3E53;
    border-radius: 16px;
    padding: 1px;
    margin-bottom: 2rem;
}

#passwords {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.password-field {
    background-color: #273549;
    width: 40%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAFB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#password-length {
    background-color: #273549;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAFB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0;

}

#length-text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #F9FAFB;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}

#length-container {
    margin-bottom: 2rem;

}