/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

#hero {
    background-image: url("https://images.pexels.com/photos/29320885/pexels-photo-29320885.jpeg");
    background-size: cover;
    width: auto;
    height: 100vh;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-title {
    font-size: 4rem;
    font-weight: bold;
    padding: 16px 32px;
    background-color: #5a7355;
    border-radius: 8px;
}

#hero-subtitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 16px 32px;
    background-color: #6e8057;
    border-radius: 8px;
}

#activities-section {
    background-color: #b4dcb4;
    padding: 32px;
}

#activities {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0px;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 250px;
    width: 250px;
    background-color: #5a7355;
    border-radius: 8px;
    padding: 16px;

}



.rounded {
    border-radius: 50%;
}



img {
    width: 150px;
}


#guide-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


#guide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9bdcaf;
    height: 300px;
    width: 450px;
    padding: 16px;
    border-radius: 16px;
}

#guide-content {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#per-image {
    height: 100%;
    width: fit-content;
    border-radius: 8px;
}